extends layout

block content
    main.content.details-content
        <section class="hero">
            <div class="hero-body">
                <p class="title">#{noticia.title}
                </p>
                <p class="subtitle">#{noticia.author} | #{noticia.source.name}
                </p>
            </div>
        </section>