extends layout

block content
    header
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand content custom-brand">
                a(href="/")
                    figure.image.is-32x32.logo-brand
                        img(src="/images/logo.png")
                    h1 NewsReader
            </div>
        </nav>




    main.content
        .columns.is-multiline
            .column.is-4-tablet.is-3-desktop
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3 is-marginless">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Título de noticia</p>
                                <p class="subtitle is-6">@autor de noticia</p>
                            </div>
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                    footer.card-footer
                        span.icon.is-medium.has-text-danger
                            i.fas.fa-heart.fa-lg
                </div>

    
    
    
    
    
    
    footer#main-footer.content.has-text-centered
        p
            a(href="https://newsapi.org/") Fuente de noticias NewsApi