doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/png", href="/favicon.png")
  body
    header
        nav.navbar(role="navigation", aria-label="main navigation")
            div.navbar-brand.content.custom-brand
                a(href="/feed")
                    figure.image.is-32x32.logo-brand.is-marginless
                        img(src="/images/logo.png")
                    h1.is-marginless NewsReader
                div.navbar-categorias
                    a(href="/feed").button Top 20
                    a(href="/feed?category=sports").button Deportes
                    a(href="/feed?category=technology").button Tecnología
                    if !isFavPage
                        a(href="/favourites").button Favoritos
        if isFavPage
            nav.navbar.navbar-favs
                p.has-text-weight-semibold Filtar favoritos por:
                div.navbar-favs-categories  
                    a(href="/favourites") Todo
                    a(href="/favourites?category=top20") Top20
                    a(href="/favourites?category=sports") Deportes
                    a(href="/favourites?category=technology") Tecnología

    block content

    footer#main-footer.content.has-text-centered
        p
            a(href="https://newsapi.org/") Fuente de noticias NewsApi