doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/png", href="/favicon.png")
  body
    header
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand content custom-brand">
                a(href="/")
                    figure.image.is-32x32.logo-brand
                        img(src="/images/logo.png")
                    h1 NewsReader
            </div>
            .navbar-menu.content
                .navbar-start.menu-primary
                    a.navbar-item(href="/favs") Favoritos
                .navbar-end
                    a.navbar-item(href="/feed") Todo
                    a.navbar-item(href="/feed?category=sports") Deportes
                    a.navbar-item(href="/feed?category=technology") Tecnología
                    a.navbar-item(href="/feed?category=science") Ciencia
        </nav>
        
        form            
            .field.has-addons.has-addons-right
                p.control
                    span.select
                        select#category(name="category")
                            option(value="", selected="selected") Todo
                            option(value="sports") Deportes
                            option(value="technology") Tecnología
                            option(value="science") Ciencia
                p.control.has-icons-left
                    input#search.input(type="text", name="q", placeholder="Buscar...")
                    span.icon.is-small.is-left
                        i.fas.fa-search
            
            script(src="/js/search.js")
 
        if isFavsPage
            nav.navbar
                .navbar-menu.content
                    span.navbar-item.has-text-weight-bold Categorías de Favoritos
                    a.navbar-item(href="/favs?category=sports") Deportes
                    a.navbar-item(href="/favs?category=technology") Tecnología
                    a.navbar-item(href="/favs?category=science") Ciencia


    block content

    footer#main-footer.content.has-text-centered
        p
            a(href="https://newsapi.org/") Fuente de noticias NewsApi