@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  background-color: #cacaca;
  min-height: 100vh;
}

.logo-brand {
  display: inline-block;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
.logo-brand + h1 {
  display: inline-block;
  font-size: 1.4rem;
}

#landing-action {
  margin-top: 2rem;
}

.custom-brand a {
  color: #333;
}

#main-footer {
  background-color: #fff;
  padding: 1rem;
}

main {
  margin-top: 1rem;
}

footer.card-footer {
<<<<<<< HEAD
  justify-content: flex-end;
}

.content figure {
  margin: 0;
}

img.detail-image {
  width: 100%;
}

.detail-title,
.detail-content {
  box-sizing: border-box;
  padding: 0 1rem;
}

.detail-content {
  margin-top: 2rem;
}

.footer-detail {
  margin-top: 2rem;
  padding: 1rem;
}

.fav {
  margin: 0 2rem 0 4rem;
  font-size: 2.2rem;
  cursor: pointer;
}

.menu-primary {
  margin-left: 3rem;
}

.card-footer {
  padding: 0 1rem;
}

.card-footer > span {
  margin-left: 1.5rem;
}


/*Código misterio....*/
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
=======
    justify-content: flex-end;
}


header#main-header {}
    header .navbar {
        min-height: auto;
    }
        header .navbar .navbar-brand {
            padding:.75rem;
            font-size: 1.4rem;
        }
            header .navbar .navbar-brand a {
                display: flex;
                align-items: baseline;
            }
                header .navbar .navbar-brand a > * {
                    margin:0;
                    font-size: 1.4rem;
                }
            header .navbar .navbar-brand .logo-brand {
                margin:0 .5rem 0 0 !important;
            }
main {
    padding:2rem;
    margin:0;
}
footer#main-footer {
    padding:1.5rem;
}

/* DETAILS */
.details-content {
    display: flex;
    justify-content: center;
}
    .details-content .hero {
        width: 100%;
        max-width: 700px;
        padding: 15px;
        background: #fff;        
    }
        .details-content .hero .hero-head {}
            .details-content .hero .hero-head figure {
                width: 100%;
                margin:0;
            }
        .details-content .hero .hero-body {
            padding:3rem 0;
        }
            .details-content .hero .hero-body .title {
                padding-bottom:2rem;
            }
        .details-content .hero .hero-foot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:1.5rem 0;
            border-top: 1px solid #ccc;
        }
            .details-content .hero .hero-foot .share {}
            .details-content .hero .hero-foot .favs {}
                .details-content .hero .hero-foot .favs .button {
                    height: auto;
                    padding:0;
                    border:none;
                }
                .details-content .hero .hero-foot .rate .button {
                    height: auto;
                    padding:0;
                    border:none;
                }
>>>>>>> 0a67697a45cb91fb0c6bb87958324cabbb7857b3
