@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  background-color: #cacaca;
  min-height: 100vh;
}

.logo-brand {
  display: inline-block;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
.logo-brand + h1 {
  display: inline-block;
  font-size: 1.4rem;
}

.menu {
  font-size: 0.8rem;
  padding-left: 10px;
}

.menu-element a{
  padding-left: 10px;
}

#landing-action {
  margin-top: 2rem;
}

.custom-brand a {
  color: #333;
}

#main-footer {
  background-color: #fff;
  padding: 1rem;
}

main {
  margin-top: 1rem;
}

footer.card-footer {
  justify-content: flex-end;
}

.content figure {
  margin: 0;
}

img.detail-image {
  width: 100%;
}

.detail-title,
.detail-content {
  box-sizing: border-box;
  padding: 0 1rem;
}

.detail-content {
  margin-top: 2rem;
}

.footer-detail {
  margin-top: 2rem;
  padding: 1rem;
}

.fav {
  margin: 0 2rem 0 4rem;
  font-size: 2.2rem;
  cursor: pointer;
}

.menu-primary {
  margin-left: 3rem;
}

.card-footer {
  padding: 0 1rem;
}

.card-footer > span {
  margin-left: 1.5rem;
}


/*Código misterio....*/
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
